.card {
  width: 260px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  transition: 0.2s;
  background: #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  color: #555;
}

.card-desc {
  font-size: 14px;
  color: #555;
  flex-grow: 1;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.like-btn {
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s;
}

.like-btn.liked {
  color: red;
}

.delete-btn {
  font-size: 18px;
  border: none;
  background: none;
  cursor: pointer;
}
